@yellow:#F9A825;
*{
	a{
		-webkit-transition: 0.1s all;
	    -moz-transition: 0.1s all;
	    -o-transition: 0.1s all;
	    -ms-transition: 0.1s all;
	}
    
}
.main_nav{
	background-color:#F9A825 !important;
	border:none;
	border-bottom:1px solid;
	border-color:#9C9C9C;
	.brands_nav{
		background:#2D2D2D;
		&:hover{
			background:rgba(62, 62, 62, 0.86);
		}
	}
	.navbar-nav{
		margin:0;
		>li{
		    padding: 13px 0px;position:relative;
		    &.open{
		    	a{
		    		&:focus{
					background-color:transparent !important;
					}
		    	}
		    }
			>a{
				color:white;
				.caret{
					margin-left:5px;
				}

			}
			&:hover{
				background:rgba(45, 45, 45, 0.11);
				
			}
			.list_nav{
				padding:0;
				li{
					padding:5px;
					&.divider{
						padding:0;
					}
					&:hover,focus{
						 background-color:rgba(249, 168, 37, 0.56);
						a{
						    background-color: transparent;
						}
					}
				}
			}
			.list_nav2{
				li{
					padding:5px;
					&.divider{
						padding:0;
					}
					&:hover,focus{
						 background-color:rgba(249, 168, 37, 0.56);
						a{
						    background-color: transparent;
						}
					}
				}
			}
		}
	}
}
.mybanner{
	background-size:cover;
	transition: background .5s ease-in-out;

}
#search_form{
	h1{
		text-transform: uppercase;
	}
}

//general
input{
	&:focus{
		transition:border ease 0.5s, background ease 0.5s;
	    border: 1px solid rgb(249, 168, 37)!important;
    	background: rgba(249,168,37,.3) !important;
    	color:white;
	}
}